*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header ------------------------- */

header{
    background-color: black;
}

header .row{
    min-height: 30px;
}

.sony-logo{
    height: 14px;
}

/* Navbar ------------------------- */

nav{
    background-color: white;
    color: #363636;
    z-index: 10;
}

nav .ms_chevron-grey{
    width: 10px;
    margin-left: 5px;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

.ms_search{
    width: 25px;
}

/* Main ------------------------- */

/* section 1 - jumbo */

#jumbo{
    background-image: url('img/jumbo-bg.png');
    min-height: 535px;
    background-position: center;
    background-size: cover;
    color: white;
}

#jumbo figure img{
    width: 210px;
}

#jumbo .ms_button{
     background-color: #CD3D0F;
     color: white;
}

/* section 2 - ps5-intro */

#ps5-intro img,
#console img{
    width: 100%;
}

.ms_border{
    border-radius: 25px;
    padding: 3px;
}

.ms_border-blue{
    padding: 3px;
    border: 2px solid #0070d1;
}

.ms_border img{
    border-radius: 20px;
}

.ms_font-blue{
    color: #0070d1;
}

/* section 3 - console */

#console .ms_accessories{
    width: 60%;
}

.ms_console-thumb::after{
    content: "";
    display: block;
    position: absolute; /* il position relative l'ho dato nel'html */
    height: 2px;
    width: 100%;
    top: 100%;
    background-color: #0070d1;
}

.ms_overlay::before{
    content: "";
    display: block;
    position: absolute; /* il position relative l'ho dato nel'html */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.2;
}