*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

/* Header ------------------------- */

header{
    display: contents;
    /* dando display contents all'header posso dare position sticky alla navbar (senza metterla fuori dall'header) dato che lo sticky è relativo al container dell'elemento, quindi dando display contents all'header è come se dicessi che il container di riferimento della navbar è il body */
}

.sony-logo{
    height: 14px;
}

nav{
    background-color: white;
    color: #363636;
    z-index: 10;
    position: sticky;
    top: 0;
}

nav .ms_chevron-grey{
    width: 10px;
    margin-left: 5px;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

.ms_search{
    width: 25px;
}

/* Main ------------------------- */

/* section 1 - returnal */

#returnal{
    background-image: url('img/jumbo-bg.png');
}

.game-banner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.game-banner .row{
    min-height: 535px;
    /* min-height meglio darla alla row così posso gestire il flex direttamente sulla row */
}

.game-banner figure img{
    max-width: 210px;
}

.game-banner .ms_button{
     background-color: #CD3D0F;
     color: white;
}

/* section 2 - ps5-intro */

#ps5-intro img{
    max-width: 100%;
}

#ps5-intro .ms_border{
    border-radius: 25px;
    outline: 4px solid white;
    outline-offset: -6px;
    overflow: hidden;
    border: 4px solid white;
}

#ps5-intro .ms_border:active{
    border: 4px solid #0070d1;
}

#ps5-intro .ms_font-blue{
    color: #0070d1;
}

/* section 3 - console */

#console .ms_ps5-console{
    width: 100%;
}

#console .ms_accessories{
    width: 60%;
}

.ms_after:active::after{
    content: "";
    display: block;
    position: absolute; /* il position relative l'ho dato nel'html */
    height: 2px;
    width: 100%;
    top: 100%;
    background-color: #0070d1;
}

.ms_overlay:before{
    content: "";
    display: block;
    position: absolute; /* il position relative l'ho dato nell'html */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.2;
}

.ms_overlay:active::before{
    display: none;
}

/* section 4 - it takes two */

#it-takes-two{
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
}

/* section 5 - new releases */

#new-releases{
    background-color: #202020;
    color: white;
}

#new-releases img{
    width: 100%;
}

#new-releases .ms_border{
    border-radius: 20px;
    overflow: hidden;
}

#new-releases .ms_font-size{
    font-size: 1.2rem;
}

/* section 6 - ps4 */
#ps4 img{
    width: 100%;
}

/* section 7 - ps plus 
   section 9 - ps now */
#ps-plus{
    background-color: #BEBCBC;
}

#ps-now{
    background-color: #161C3B;
    color: white;
}

.ms_ps-plus-logo img, 
.ms_ps-now-logo img{
    width: 70%;
}

.ms_ps-plus-games img, 
.ms_ps-now-games img{
    width: 100%;
}

#ps-plus button{
    color: #2D64E6;
    background-color: #D9DADC;
}

#ps-now button{
    color: #161C3B;
}

/* section 8 - ps store  
section 10 - social media */
#ps-store img, #social-media img{
    width: 100%;
}

